.blogicon {
  color: #00a6fb;
}
.blogtitle {
  font-weight: 700 !important;
  font-family: cursive !important;
}
.blog-des {
  font-family: cursive !important;
}
.icongroup {
  color: #5c728e;
}
.blogimg {
  box-shadow: 0px 10px 10px grey;
}
.blogcard:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition-duration: 0.6s;
}
